html {
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: white !important;
}
body {
    margin: 0;

    display: grid;
    align-items: center;

    font-size: 25px;
    background-color: white !important;
    width: 100%;
    height: 100%;
    
}

#container-main, #container-assist, #container-historgram {
    margin: 15px 0;
}

#main_canvas {
    align-self: center;
    justify-self: center;
}

#container-main {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 200px;
    align-items: center;
    justify-content: space-evenly;
    
}
canvas {

    border: 1px solid black;
}

.button-function {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;;
}

#container-assist {
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: space-evenly;
}

#container-history {
    display: flex;
    
}

#history-back, #history-fow, #history-reset {
    width: 30px;
    height: 30px;
}

#history-fow {
    background-color: yellow;
}

#history-back {
    background-color: green;
}

#history-reset {
    background-color: blue;
}

#container-histogram {
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    margin-left: 150px;
    margin-bottom: 100px;
    height: 500px;
}