html {
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: white !important;
}
body {
    margin: 0;

    display: grid;
    align-items: center;

    font-size: 25px;
    background-color: white !important;
    width: 100%;
    height: 100%;
    
}

#container-main {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 200px;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
}
canvas {

    border: 1px solid black;
}

.button-function {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;;
}

#container-assist {
    display: flex;
}

#history-back, #history-fow, #history-reset {
    width: 30px;
    height: 30px;
}

#history-fow {
    background-color: yellow;
}

#history-back {
    background-color: green;
}

#history-reset {
    background-color: blue;
}

