html {
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: #A9A9A9 !important;
}
body {
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;

    font-size: 25px;
    background-color: #A9A9A9 !important;
    width: 100%;
    height: 100%;
}

#container-left {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#container-buttons {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 30px;
    border: 2px solid black;
    border-radius: 5px;
    width: 220px;

}

.button {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

#main-canvas {
    border: 2px solid black;
    border-radius: 5px;

}

#container-middle {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}
