html {
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: #A9A9A9 !important;
}
body {
    margin: 0;

    display: flex;

    font-size: 25px;
    background-color: #A9A9A9 !important;
    width: 100%;
    height: 100%;
}

#main-canvas {
    justify-self: center;
    align-self: center;
}