html {
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: #A9A9A9 !important;
}
body {
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 25px;
    background-color: #A9A9A9 !important;
    width: 100%;
    height: 100%;
}

#container-left {
    display: flex;
    flex-direction: column;
}

#buttons {
    margin: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

#main-canvas {
    border: 2px solid black;
    border-radius: 5px;
}

#container-middle {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}
